/*
*
* @author: Alexsandro
*
* Comment
* Seguindo a proposta foi criado um ID para cada H2
* o HTML suporta usar o mesmo ID para todos os H2
* mais em Javascript teriamos problemas, pensando desta forma
* foi criado um ID para cada H2
*/

/* Estilizando body */
body{
    max-width:660px;
    margin:40px auto;
    padding:0 10px;
    font:18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color:#444444;
}
/* Header */
#mainTitle{
    color: #fff;
    line-height:1.2;
}
/* paragraph */
.paragraph{
    color: white;
}
/* subtitulo H2 */
#primarySubtitle_h2{
    color: #fff;
    line-height:1.2;
}
#secondarySubtitle_h2{
    color: #fff;
    line-height:1.2;
}
#tertiarySubtitle_h2{
    color: #fff;
    line-height:1.2;
}
/* paragrafo em neglito */
.boldParagraph{
    color: white;
    font-weight: bold;
}
/* Listas não ordenadas */
.unorderedList{
    color: #fff;
}
/* subtitulo H3 - #primarySubtitle_h3*/
#primarySubtitle_h3{
    color: #fff;
    line-height:1.2;
}
.quote{
    color: #fff;
    max-width: 560px;
}
.code{
    font-size: 18px;
}
.linha{
    display: inline-block;
    width: 13px;
    height: 1px;
    margin:0px 2px 4px 2px;
    background-color: #fff;
}
.border_paragraph{
    border-bottom:1px dotted #fff;
    
}
a:link{
   color:#5bf;
}
a:visited{
    color:#ccf;
}


@media screen and (max-width: 750px){
    body{
        color:#fff;
        background:#444444;
        max-width: 450px;
       
    }
    .quote{
        width: 350px;
    }
}
